@import '/src/styles/global.scss';


.aboutPhotoContainer {
    position: relative; 
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background: $gradient;
}
.aboutPhoto {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background: transparent;
    border-radius: 50%;
    background-image: url('../../../assets/images/profile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
