$xs: 320px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1500px;
$welcomCommonScreenPoint: 1050px;

@mixin media-min($size) {

  @media (min-width: $size) {
    @content;
  }
}

@mixin media-max($size) {

  @media (max-width: $size) {
    @content;
  }
}
