
$background: (
    "primary": #0F1624,
    "secondary": #162950,
);

$gradient: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);

$text: (
    'primary': #FFFFFF,
    'paragraph': #BCBCBC,
)




