@import "colors";
@import 'fonts';


@mixin h1Normal {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: map-get($text, 'primary');
}

@mixin h2Normal {
    @include h1Normal;
    font-size: 48px;
}

@mixin h3Normal {
    @include h1Normal;
    font-size: 36px;
    line-height: 88.5%; /* 31.86px */
}

@mixin h4Normal {
    @include h1Normal;
    font-size: 30px;
}

@mixin bodyNormal {
    @include h1Normal;
    font-size: 28px;

}

@mixin captionNormal {
    @include h1Normal;
    font-size: 24px;
    font-weight: normal;

}

@mixin cationGrand {
    @include h1Normal;
    font-size: 42px;
}
