@import "src/styles/global";



html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: map-get($background, "primary");
  margin: 0;
  padding: 0 20px;
  color: map-get($text, "primary");
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", monospace;
}

a {
  color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
