@import "src/styles/global";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex-grow: 1; 
  margin-bottom: 50px;
}

.hideContent {
    @include h1Normal;
    display: none;
    justify-content: center; 
    align-items: center; 
    background: $gradient;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999; 
    text-align: center;
}

@media (max-width: 1220px) {
    .hideContent {
      display: flex; 
    }
  }
